.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*
============= LANDING PAGE ==========
=====================================
*/
.landing {
  position: relative;
  background: url('./img/landingPic.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px; 
}

.jumbotronLanding {
  padding: 4rem 2rem;
  margin-top: 130px;
  background-color: #0000ffd9;
} 


